
#projects {
    margin: auto;
    width: 80%;
}
#create {
    float:left;
    padding:25px 25px 40px;
    margin:0 20px 20px 0;
    width:250px;
    height:250px;
}

#create {
    user-select:none;
    padding:20px;
    border-radius:20px;
    text-align:center;
    border:15px solid rgba(0,0,0,0.1);
    cursor:pointer;
    color:rgba(0,0,0,0.1);
    font:220px "Helvetica", sans-serif;
    line-height:185px;
}

#create:hover { border-color:rgba(0,0,0,0.2); color:#20aa7d; }

.project-content .panel-body {
	width:250px;
    height:80%;
}

.project-content {
    font:20px 'Gloria Hallelujah', cursive;
    line-height:1.5;
    border:0;
    border-radius: 5px;
    background: linear-gradient(#F9EFAF, #F7E98D);
    background: #dfe2e4;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:box-shadow 0.5s ease;
    transition:-webkit-box-shadow 0.5s ease;
    font-smoothing:subpixel-antialiased;
    max-width:520px;
    max-height:250px;
    
    border-style: solid;
    border-color: #1abc9c;
    
    width:250px;
    height:250px;
    margin:0 20px 20px 0;
    
}
.project-content:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
.project-content:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }


.project{
    float: left;
}

.clear-both {
    clear: both;
}

.project-content hr {
	border-color: blue;
}

.project-content .project-title {
	text-align: center;
}


