
.pm-project-container {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: whitesmoke;
    border-color: #dfe2e4;
}

.pm-projects {
	background-color: #fbfbfb;
	width: 100%;
}

.project-tags {
	float: left;
	width: 70%;
}
.project-tags input {
	outline: 0;
	border: 0;
	background-color: transparent;
}

.project-heading {
	margin-top: 10px;
}

.pm-create-project {
	padding:20px;
    text-align:center;
    cursor:pointer;
    color:rgba(0,0,0,0.1);
    font:220px "Helvetica", sans-serif;
    line-height:185px;
}
.pm-new-project:hover .pm-create-project {
	color:#20aa7d;
}
.pm-new-project .panel-heading {
	height: 40px;	
}
.pm-new-project:hover .panel-heading {
	background-color:#20aa7d;
	color: #fff;
}
.pm-new-project {
	width: 250px;
	height: 250px;
	float: left;
	margin-right: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-bottom: 5px solid #20aa7d;
	box-shadow:2px 4px 6px #20aa7d;	
}

.pm-project {
	width: 250px;
	height: 250px;
	float: left;
	margin-right: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-bottom: 1px solid #20aa7d;
	box-shadow:0px 1px 2px #20aa7d;
}
.pm-project label {
	color: #858585;
	font-size: 13px;
	font-weight: normal;
}
.pm-project:hover {
	box-shadow:2px 4px 6px #20aa7d;	
}

.panel-heading {
    border-bottom: 4px solid transparent;
}
.pm-project .panel-heading {
	height: 45px;
}
.pm-project .panel-body {
	height: 160px;
}

.pm-project .panel-heading input {
	background-color: transparent;
	outline: 0;
	border: 0;
	margin-left: 5px;
	width: 150px;
}
.pm-project .panel-heading input[type="checkbox"] {
	float: right;
}
.pm-project-open {
	margin-top: -2px;
	background-color: #bcbcbc;
	padding: 4px 4px 4px 4px;
	border-radius: 5px;
	float: right;
}
.pm-project-open:hover {
	cursor: pointer;
}
.pm-project .panel-body textarea {
	background-color: transparent;
	outline: 0;
	border: 0;
	height: 100%;
	width: 100%;
	resize: none;
}
.pm-project .panel-body textarea:hover {
	background-color: transparent;
	outline: 0;
	border: 1px dotted #20aa7d;
	width: 100%;	
}
.pm-project .panel-body textarea:focus {
	border: 1px dotted #20aa7d;
	width: 100%;	
}
.pm-project .panel-heading input[type="text"]:hover {
	border: 1px dotted #20aa7d;
}
.pm-project .panel-heading input[type="text"]:focus {
	border: 1px dotted #20aa7d;
}

/*.pm-project-open {
	background-color: #bcbcbc;
	padding: 4px 4px 4px 4px;
	border-radius: 5px;
	float: left;
}
.pm-project-open:hover {
	cursor: pointer;
}*/
.pm-project-remove {
	margin-top: -2px;
	background-color: #bcbcbc;
	padding: 4px 4px 4px 4px;
	border-radius: 5px;
	float: right;
}

.pm-project-remove:hover {
	cursor: pointer;
}

.pull-right>.dropdown-menu {
    right: 20px; 
}

.pm-add-member {
	color: #fff;
	background-color: #20aa7d;
}

.project-filter input{
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.project-filter input:focus{
    border:1; 
    border-color: #1abc9c;
    outline-width: 0;
}

.dashboard-header {
	margin-top: 3px;
}

.dashboard-header h3 {
	margin: 0;
	padding: 0;
}