html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 5%;
  background: url("../../app/imgs/body-bg.png");
}

div.login-title {
  width: 100%;
  height: 60px;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto 10px;
  position: relative;
  top: 50%;
  background: #f9f9f9;
  border: 1px solid ;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px #272a33;
  text-align: center;
}

div.login-title span {
	font-weight: bolder;
	color: #525252;
	font-size: large;
}


div.loginpanel {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px #272a33;
  background: #f9f9f9;
  border: 1px solid ;
}

div.loginpanel .input-group {
	margin-bottom: 25px;
}
	


div.loginpanel a.register {
  color: #444;
  text-decoration: none;
}
div.loginpanel a.register:before {
  padding-right: 6px;
}
div.loginpanel a.register:hover {
  color: #2ecc71;
  text-shadow: 0 1px #555;
}
div.loginpanel a.register:active {
  text-shadow: 0 -1px #555555;
}
div.loginpanel input {
  width: 100%;
  padding: 12px;
  font-family: 'Open Sans';
  font-size: 18px;
  color: #8e8d8d;
  background-color: #fdfdfd;
  display: block;
  box-shadow: inset 2px 2px 4px #f1f1f1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.loginpanel div.txt {
  position: relative;
}
div.loginpanel div.txt input[type="text"],
div.loginpanel div.txt input[type="password"] {
  color: #555;
  text-shadow: 0 1px #FFF;
  padding: 12px 12px 12px 45px;
  border: 1px solid #888;
  border-radius: 4px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}
div.loginpanel div.txt input[type="text"]:hover,
div.loginpanel div.txt input[type="password"]:hover,
div.loginpanel div.txt input[type="text"]:focus,
div.loginpanel div.txt input[type="password"]:focus {
  background-color: #FFF;
}
div.loginpanel div.txt input[type="text"]:focus,
div.loginpanel div.txt input[type="password"]:focus {
  border-color: #27ae60;
}
div.loginpanel div.txt label {
  cursor: text;
}
div.loginpanel div.txt label:before {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: 'entypo', sans-serif;
  font-size: 1.1em;
  color: #2ecc71;
  line-height: 58px;
  text-align: center;
  width: 50px;
  height: 50px;
}
div.loginpanel div.buttons {
  display: flex;
}
div.loginpanel div.buttons input {
  flex: 1;
  width: 100%;
}
div.loginpanel div.buttons span a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  line-height: 70px;
  text-align: center;
}
div.loginpanel input[type="submit"] {
  cursor: pointer;
  color: #FFF;
  text-shadow: 0 1px #27ae60;
  font-size: 1.2em;
  border: 0 none;
  border-radius: 4px;
  outline: none;
  background-color: #2ecc71;
  box-shadow: 0 2px #27ae60, inset 0 0 #27ae60;
}
div.loginpanel input[type="submit"]:hover,
div.loginpanel input[type="submit"]:focus {
  background-color: #29b765;
  box-shadow: 0 2px #229955, inset 0 0 #27ae60;
}
div.loginpanel input[type="submit"]:active {
  box-shadow: 0 0 #229955, inset 0 1px #229955;
}




/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  font-size: 30px;
  color: gray;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

