div.member-container {
	font-family: Helvetica, sans-serif;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

div.head-data-container {
	position: relative;
	width: 100%;
	
	display: inline-block;
    border: 1px solid #eee;
    background-color: #fafafa;
    padding: 10px;
}

div.image-outer-container {
	height: 200px;
	
	display: block;
	
	float:left;
	
	text-align: center;
	
	border: 1px solid #dddddd;
	border-radius: 10px;
	
	background-color: #fff;
	padding: 3px;
}

div.image-container {
	height: 80%;
	
	position: relative;
}

div.image-container img {
	display: block;
	
	max-width: 100%;
	max-height: 100%;
	
	margin: auto;
	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

div.image-outer-container form.image-controls {
	height: 20%;
	
	clear: left;
	
	margin-top: 10px;
}

div.image-outer-container form.image-controls > button {
	width: 49%;
	
	border: 0;
	border-radius: 10px;
	color: #c7c7c7;
	background-color: #1ea277;
}
div.image-outer-container form.image-controls > button:hover {
	color: #fff;
}



div.image-outer-container form.image-controls input[type=file] {
	width: 10px;
	visibility: hidden;
}

div.title-description-container {
	height: 200px;
	
	float: left;

	border: 1px solid #dddddd;
	border-radius: 10px;
	background-color: #fff;

	padding: 3px 3px 3px 3px;
	margin-left: 15px;
}

div.title-description-container > div {
	margin-top: 10px;
	padding: 5px;
}

div.title-description-container .member-name {
	
	height: 10%;
}

div.title-description-container .member-name input {
	outline: 0;
	border: 0;
}
div.title-description-container .member-name input:hover {
	border-bottom: 1px solid #20aa7d ;
}
div.title-description-container .member-name input:focus {
	border-bottom: 1px solid #20aa7d ;
}

div.title-description-container .member-name label {
	font-weight: normal;
}


div.title-description-container .member-biography {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	
	text-align: justify;
	height: 80%;
	
	
}

div.title-description-container .member-biography textarea {
	width: 100%;
	height: inherit;
	padding: 5px;
	
	resize: none;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
}

div.title-description-container .member-biography textarea:hover {
	outline: 0;
	border: 1px solid #20aa7d;
}

div.title-description-container .member-biography textarea:focus {
	outline: 0;
	border: 1px solid #20aa7d;
}




span.experience-header {
	font-size: 16px;
}

table.experience-table {
	border: 0;
}


table.experience-table th, table.experience-table td {
	font-weight: bold;
	font-size: 14px;
	
	width: 100px;
	
	border-bottom: 1px solid #20aa7d;
}
table.experience-table td input {
	width: 100%;
	border: 0;
	border-right: 1px solid #20aa7d;
	outline: 0;
	color: #acacac;
}


.content-data-container {
	min-height: 300px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}



.colon-20 {
	width: 20%;
}

.colon-80 {
	width: 77%;
}


.member-container {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #fff;
	height: 100%;
}

.member-container > label {
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}


hr {
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid #20aa7d;
}

.member-header {
	border: 1px solid #eee;
    background-color: #fafafa;
    display: inline-block;
    width: 100%;
	height: 160px;
}


.member-boxes-container {
	display: inline-block;
	margin: auto;
	width: 100%;
	height:300px;
	border: 1px solid #eee;
	background-color: #fafafa;
	margin-top: 15px;
}

.member-boxes-2-column {
	float: left;
	width: 48%;
	margin:1%;
}

.member-boxes-1-column {
	float: left;
	width: 98%;
	margin:1%;
}


.member-box {
    margin: 5px auto auto auto;
    background: white;
    min-height: 150px;
    box-shadow: 1px 1px 3px rgba(172, 153, 205, 0.4);
    width: 100%;
    border: 1px solid #dbdbdb;
    border-width: 0 1px 1px 0;
}

.member-box .pm-tags {
	display: inline-block;
}

.member-box .member-box-title {
	border-bottom: 1px solid #20aa7d;
	text-align: center;
	font-size: 18px;
}

.member-box .member-box-content {
	padding: 5px;
}
.member-expertise-content {
	margin-left: 15px;
}


