
<div class='pm-project-container'>

           <div class="panel panel-default pm-projects">

				<div class="panel-heading" >
					<div class="pull-right project-filter">
						 <input type="text" placeholder="Filter Name & Description" ng-model="query">
					</div>
					<div class="clearfix"></div>
				</div>

              <div class="panel-body">
	   
                <!-- Add new Task -->
                <div class="panel panel-default pm-new-project" ng-click="createProject()" >
                	<div class="panel-heading">
                         <span class="glyphicon glyphicon-tasks"></span> 
                     </div>
                
	                <div class="pm-create-project">+</div>
                 </div>      
				<!-- Existing Task -->
				<div class="panel panel-default pm-project" ng-repeat="project in projects | filter:search" >
                     <div class="panel-heading">
                        <span class="glyphicon glyphicon-tasks"></span> 
                        <input type="text" value="{{project.name}}" ng-model="project.name" ng-blur="" />
                  		<input type="checkbox" />
                     </div>
                     <div class="panel-body">
                         <label>Description: </label>
                         <textarea type="text" value="{{project.description}}" ng-model="project.description" ng-blur=""></textarea>
                         <br/>
                         <span>Members: {{pr.managers.length + pr.employees.length}}</span>
                     	
                     </div>
                     <div class="panel-footer">
                     <div class="pm-project-open" ui-sref="project({projectId : project.id})">Open</div>
                     <div class="pm-project-remove" ng-click="removeProject(project)" >X</div>
                     </div>
                </div>
              </div>
              <!-- /.panel-body -->
           </div>
	
	 
                
	
</div>













