

<div id="projects">
    <div class="project" ng-repeat="pr in projects | filter:search" ui-sref="pm.project({projectId : pr.id})">
	        <div class="panel panel-default project-content">
			  <div class="panel-body">
	  			<span>Members: {{pr.managers.length + pr.employees.length}}</span>
			  	<br />
			  	<span ng-if="pr.dateDue" >Date Due: {{pr.dateDue | date:"MM/dd/yyyy 'at' h:mma"}}</span>
				<br />
			  	<span ng-if="pr.timestamp" >Date Due: {{pr.timestamp | date:"MM/dd/yyyy 'at' h:mma"}}</span>
			  	<br />
			  	<span>DESC : {{pr.description}}</span>
			  </div>
			  <div class="panel-footer">
			  	<span>{{pr.name}}</span>
			  	<div class="project-remove" ng-click="removeProject(pr.id)" >X</div>
			  </div>
			</div>
    </div>
    
    <div id="create" ng-click="createProject()" >+</div>

</div>


<div class="project-filter">
 <input type="text" placeholder="Filter Name & Description" ng-model="query">
</div>
