	<!-- Login panel -->
	<div id="login" class="loginpanel" ng-if="showLogin">
	
	  <form ng-submit="login()">
		  <div class="txt">
		    <input id="user" type="text" placeholder="Username" ng-model="user.username" />
		    <label for="user" class="entypo-user"></label>
		  </div>
		  <div class="txt">
		    <input id="pwd" type="password" placeholder="Password" ng-model="user.password"/>
		    <label for="pwd" class="entypo-lock"></label>
		  </div>
		  <div class="buttons">
		    <input type="button" value="Login" />
		    <span>
		      <a ng-click="showRegister()" class="entypo-user-add register">Register</a>
		    </span>
		  </div>
	  </form>
	  
	  <div class="hr">
	    <div></div>
	    <div>OR</div>
	    <div></div>
	  </div>
	  
	  <div class="social">
	    <a href="javascript:void(0)" class="facebook"></a>
	    <a href="javascript:void(0)" class="twitter"></a>
	    <a href="javascript:void(0)" class="googleplus"></a>
	  </div>
	</div>

	<!-- Register panel -->
	<div id="register" class="loginpanel" ng-if="!showLogin" >
	  <form ng-submit="register()">
		  <div class="txt">
		    <input id="user" type="text" placeholder="Username" ng-model="newUser.username" />
		    <label for="user" class="entypo-user"></label>
		  </div>
		  <div class="txt">
		    <input id="user" type="text" placeholder="First Name" ng-model="newUser.firstname" />
		    <label for="user" class="entypo-user"></label>
		  </div>
		  <div class="txt">
		    <input id="user" type="text" placeholder="Username" ng-model="newUser.lastname" />
		    <label for="user" class="entypo-user"></label>
		  </div>
		  <div class="txt">
		    <input id="pwd" type="password" placeholder="Password" ng-model="newUser.password"/>
		    <label for="pwd" class="entypo-lock"></label>
		  </div>
		  <div class="buttons">
		    <input type="button" value="Login" />
		    <span>
		      <a ng-click="showRegister()"  class="entypo-user-add register">Sign In</a>
		    </span>
		  </div>
	  </form>
	  
	  <div class="hr">
	    <div></div>
	    <div>OR</div>
	    <div></div>
	  </div>
	  
	  <div class="social">
	    <a href="javascript:void(0)" class="facebook"></a>
	    <a href="javascript:void(0)" class="twitter"></a>
	    <a href="javascript:void(0)" class="googleplus"></a>
	  </div>
	</div>


<span class="resp-info"></span>


