<!-- Login panel -->
<div id="login" class="loginpanel" ng-if="showLogin">
  <form ng-submit="login()">
  <h1>Project Manager</h1>
  <br/>
  <p>Please provide your details</p>
	  <div class="input-group">
	  	<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
	    <input id="user" type="text" placeholder="Email" ng-model="member.email" />
	  </div>
	  <div class="input-group">
	    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
	    <input id="pwd" type="password" placeholder="Password" ng-model="member.password"/>
	  </div>
	  <div class="buttons">
	    <input type="submit" value="Login" />
	    <span>
	      <a ng-click="showRegister()" class="entypo-user-add register">Register</a>
	    </span>
	  </div>
  </form>
</div>

<!-- Register panel -->
<div id="register" class="loginpanel" ng-if="!showLogin" >
	<form ng-submit="register()">
		<h1>Project Manager</h1>
	  	<br/>
	  	<p>Please provide your details</p>
	  <div class="input-group">
	  	<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
	    <input type="text" placeholder="Email" ng-model="newMember.email" />
	  </div>
	  <div class="input-group">
	    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
	    <input id="firstname" type="text" placeholder="First Name" ng-model="newMember.firstname" />
	  </div>
	  <div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
	    <input id="lastname" type="text" placeholder="Last Name" ng-model="newMember.lastname" />
	  </div>
	  <div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
	    <input id="pwd" type="password" placeholder="Password" ng-model="newMember.password"/>
	  </div>
	  <div class="input-group">
	    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
	    <input id="cpwd" type="password" placeholder="Repeat Password" ng-model="repeatPassword"/>
	  </div>
	  
	  <div class="buttons">
	    <input type="submit" value="Register" />
	    <span>
	      <a ng-click="showRegister()"  class="entypo-user-add register">Sign In</a>
	    </span>
	  </div>
  </form>
</div>

<span class="resp-info"></span>