<div class="member-container">
	<div class="head-data-container">
		<div class="image-outer-container float-left colon-20">
			<div class="image-container">
				<img
					ng-src="{{(member.picture != '' ? (member.picture + '.png') : 'app/uploads/pictures/default.png')}}"
					alt="profile picture" />
			</div>
			<hr />
			<form ng-show="canEditTest()" class="image-controls">
				<button id="changeButton" ng-click="changePicture()">Change</button>
				<button id="removeButton" ng-click="removePicture()">Remove</button>
				<br /> <input id="fileInput" accept=".jpg,.png" type="file"
					name="picture" />
			</form>
		</div>
		<div class="title-description-container float-left colon-80">
			<div class="member-name">
				<label>Name: </label>
			 	<input type="text" value="{{member.firstname}}" ng-model="member.firstname" ng-blur="updateMember()" />
			</div>
			<div class="member-name">
				<label>Last Name: </label> 	
			 	<input type="text" value="{{member.lastname}}" ng-model="member.lastname" ng-blur="updateMember()" />
			</div>
			<div class="member-biography">
				<textarea placeholder="Add Biography..." ng-model="member.biography" ng-blur="updateMember()">{{member.biography}}</textarea>
			</div>
		</div>
	</div>
	
	<div class="content-data-container">
	
	 <div class="member-boxes-container">

        <div class="member-boxes-2-column">
            <div class="member-box">
             <div class="member-box-title">Skills</div>
                <div class="member-box-content">
	                <pm-input-tags 
		            	class="" 
		            	add-placeholder="Add Skill..." 
		            	add-tag="addSkill(result)" 
		            	remove-tag="removeSkill(index)" 
		            	initial-data="member.skills" 
		            	view-name="" 
		            	>
	           		</pm-input-tags>
           		</div>
            </div>
        </div>
        
        <div class="member-boxes-2-column">
            <div class="member-box">
            <div class="member-box-title">Experience</div>
			<div class="member-box-content">
					<table class="experience-table">
						<tr>
							<th>Title</th>
							<th>Type</th>
							<th>Date From</th>
							<th>Date To</th>
							<th>Description</th>
						</tr>
						<tr ng-repeat="experience in member.experience track by $index">
							<td>
								<input type="text" ng-model="experience.title" placeholder="title"/>
							</td>
							<td>	
								<input type="text" ng-model="experience.type" placeholder="type"/>
							</td>
							<td>
								<input type="date" ng-change="formatDate(experience,0)" ng-model="experience.dateFrom" placeholder="yyyy-MM-dd"/>
							</td>
							<td>
								<input type="date" ng-change="formatDate(experience,1)" ng-model="experience.dateTo" placeholder="yyyy-MM-dd"/>
							</td>
							<td>
								<input type="text" ng-model="experience.description" placeholder="description"/>
							</td>
							<td><button ng-show="canEditTest()" class="button-remove"
									ng-click="removeExperience(experience.$index);">Remove</button></td>
						</tr>
					</table>
					<button class="button-add-experience" ng-show="canEditTest()"
						ng-click="addExperience();">Add Experience</button>
				</div>

            </div>
        </div>
        
     </div>
	
	</div>
	
	
</div>

{{member}}