<div class='pm-project-container'>
<!-- {{project}} -->

<div ui-view>

	<div class="row">
       <div class="col-lg-12">
           <div class="panel panel-default pm-project-tasks">
               <div class="panel-heading">
                   <i class="fa fa-bar-chart-o fa-fw"></i> 
                   <h3>{{project.name}}</h3>
             		<div class="project-heading">
             		<pm-input-tags class="project-tags" add-placeholder="Add Tags..." add-tag="addTag(result)" remove-tag="removeTag(index)" initial-data="project.tags" view-name="" ></pm-input-tags>
         			
         			<div class="btn-group pull-right" dropdown is-open="status.isopen">
						 <button id="single-button" type="button" class="btn btn-default" ng-click="projectMembers()" dropdown-toggle>
					     Members
					     </button>
					     <!--<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
					        <li role="menuitem"><a ng-click="newMember()">Add new member</a></li>
					     </ul> -->
						 <button type="button" class="btn btn-default" ng-click="projectDiscussion()">Discussion</button>
					</div>
                   <div class="clearfix"></div>
                   </div>
               </div>
               <!-- /.panel-heading -->
               <div class="panel-body">    
                
				<!-- Existing Task -->
				<div class="panel panel-default project-task" ng-repeat="task in project.tasks track by $index" ng-dblclick="openTask($index)" popover="Double click to open" popover-trigger="mouseenter">
                     <div class="panel-heading">
                        <!--<span>{{$index+1}}</span>-->
                        <span class="checkbox-container"><input type="checkbox" ng-model="task.finished" ng-change="updateProject()"/></span> 
                        <input type="text" value="{{task.name}}" ng-model="task.name" ng-blur="updateProject()" />
                        <button class = "btn" ng-show="canRemoveTask($index)" ng-click="removeTask($index)">Remove</button>
                     </div>
                </div>
				
                <!-- Add new Task -->
                <div class="panel panel-default pm-new-task" ng-click="createTask()" >
                	<div class="panel-heading">
                         <span class="glyphicon glyphicon-plus"></span> 
                    </div>
                </div>  
                
               <div class="pm-attachments">
	               <div class = "attachments">
	               		<h3>Attachments:</h3>
	               		<ul>
	               		<li ng-repeat="attachment in project.attachments track by $index"><a ng-href = "app/uploads/attachments/{{attachment.fileLocation}}" target="_blank">{{attachment.name}}</a><button ng-show="canRemoveAttachment($index)" ng-click="removeAttachment($index)">X</button></li>
	               		</ul>
	               		<button class="btn" ng-click="uploadAttachment()">Upload Attachment</button>
	               		<input type="file" name="fu-attachment"></input>
	               </div>
	               
	               <div class = "snippets">
	               		<h3>Code Snippets:</h3>
	               		<ul>
	               		<li ng-repeat="snippet in project.codeSnippets track by $index">
	               			<a ng-click="openCodeSnippet($index)">{{snippet.name}}</a>
	               			<button ng-show="canRemoveCodeSnippet($index)" ng-click="removeCodeSnippet($index)">X</button>
	               		</li>
	               		</ul>
	               		<button class="btn" ng-click="createCodeSnippet()">Create Code Snippet</button>
	               </div>
               </div>
               </div>
               <!-- /.panel-body -->
           </div>
       </div>
       <!-- /.col-lg-12 -->
	</div>
	
</div>	 
	
</div>

