<div class='pm-project-container'>
{{project}}


	<div class="row">
       <div class="col-lg-12">
           <div class="panel panel-default pm-project-tasks">
               <div class="panel-heading">
                   <i class="fa fa-bar-chart-o fa-fw"></i> 
                   <label>{{project.name}}</label>
             		<div class="project-heading">
             		<pm-input-tags class="project-tags" add-tag="addTag(result)" remove-tag="removeTag(index)" initial-data="project.tags" view-name="" ></pm-input-tags>
         			
         			<div class="btn-group pull-right" dropdown is-open="status.isopen">
						 <button id="single-button" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
					        Members <span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
					        <li role="menuitem"><a ng-click="newMember()">Add new member</a></li>
					      </ul>
						  <button type="button" class="btn btn-default">Discussion</button>
					</div>
      
					
					
					
					
                   <div class="clearfix"></div>
                   </div>
               </div>
               <!-- /.panel-heading -->
               <div class="panel-body">
	
	   
                <!-- Add new Task -->
                <div class="panel panel-default pm-new-task" ng-click="createTask()" >
                	<div class="panel-heading">
                         <span class="glyphicon glyphicon-tasks"></span> 
                     </div>
                
	                <div class="pm-create-task">+</div>
                 </div>      
				<!-- Existing Task -->
				<div class="panel panel-default project-task" ng-repeat="task in project.tasks">
                     <div class="panel-heading">
                        <span class="glyphicon glyphicon-tasks"></span> 
                        <input type="text" value="{{task.name}}" ng-model="task.name" ng-blur="updateProject()" />
                  		<input type="checkbox" ng-model="task.finished" ng-change="updateProject()"/>
                     </div>
                     <div class="panel-body">
                         <label>Description: </label>
                         <textarea type="text" value="{{task.description}}" ng-model="task.description" ng-blur="updateProject()"></textarea>
                         <br/>
                         Subtasks: {{task.subtasks.length}}
                     </div>
                </div>
				
               
               </div>
               <!-- /.panel-body -->
           </div>
       </div>
       <!-- /.col-lg-12 -->
	</div>
	
	 
	
</div>

