	<div class="row">
       <div class="col-lg-12">
           <div class="panel panel-default pm-project-tasks">
               <div class="panel-heading">
				   <span class="back-to-project-arrow glyphicon glyphicon-circle-arrow-left" ng-click="backToProject()"></span>
                   <label class="task-title">{{project.tasks[taskId].name}}</label>
                   <input type="checkbox" />
             	   
             	   <div class="project-heading">
	         			
         				<div class="pm-task-description">
	         				<label>Description: </label>
    	                	<textarea type="text" value="{{project.tasks[taskId].description}}" ng-model="project.tasks[taskId].description" ng-blur="updateProject()"></textarea>
         				</div>
	         			<div class="btn-group pull-right" dropdown is-open="status.isopen">
							 <button id="single-button" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
						        Members <span class="caret"></span>
						      </button>
						      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
						        <li role="menuitem"><a ng-click="newMember()">Add new member</a></li>
						      </ul>
							  <button type="button" class="btn btn-default">Discussion</button>
						</div>
	                   
	                   <div class="clearfix"></div>
                   </div>
               </div>
               <!-- /.panel-heading -->
               <div class="panel-body">
	
	   
                <!-- Add new Task -->
                <div class="panel panel-default pm-new-task" ng-click="createSubtask()" >
                	<div class="panel-heading">
                         <span class="glyphicon glyphicon-plus"></span> 
                    </div>
                 </div>      
                
				<!-- Existing Task -->
				<div class="panel panel-default task-subtasks" ng-repeat="subtask in project.tasks[taskId].subtasks" >
                     <div class="panel-heading">
                        <span class="subtask-number" >{{$index+1}}</span> 
                        <input class="subtask-name" placeholder="Subtask Name" type="text" value="{{subtask.name}}" ng-model="subtask.name" ng-blur="updateProject()" />
                  		<input class="subtask-description" placeholder="Subtask Description" type="text" value="{{subtask.description}}" ng-model="subtask.description" ng-blur="updateProject()" />
                  		<input class="subtask-checkbox" type="checkbox" ng-model="subtask.finished" ng-change="updateProject()"/>
                     </div>
                </div>
				
               
               </div>
               <!-- /.panel-body -->
           </div>
       </div>
       <!-- /.col-lg-12 -->
	</div>
	
	 
	

