	<div class="row">
       <div class="col-lg-12">
           <div class="panel panel-default pm-project-tasks">
               <div class="panel-heading">
				   <span class="back-to-project-arrow glyphicon glyphicon-circle-arrow-left" ng-click="backToProject()"></span>
                   <h3>{{project.tasks[taskId].name}}</h3>
                   <input type="checkbox" />
             	   
             	   <div class="project-heading">
	         			
         				<div class="pm-task-description">
    	                	<textarea type="text" value="{{project.tasks[taskId].description}}" ng-model="project.tasks[taskId].description" ng-blur="updateProject()"></textarea>
         				</div>
	         			<div class="buttons-group pull-right" >
	         				<button type="button" class="btn btn-default" ng-click="assignedTo()">Members</button>
						  	<button type="button" class="btn btn-default" ng-click="taskDiscussion()">Discussion</button>
							
						 	<div class="task-calendar">
				              <input type="text" class="form-control calendar-input" ng-change="formatDate()" ng-blur="updateProject()" datepicker-popup="shortDate" ng-model="project.tasks[taskId].dateDue" is-open="status.opened" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </div>
						</div>
	                   
	                    <div class="clearfix"></div>
                   </div>
               </div>
               <!-- /.panel-heading -->
               <div class="panel-body">
	              
				<!-- Existing Subtask -->
				<div class="panel panel-default task-subtasks" ng-repeat="subtask in project.tasks[taskId].subtasks" >
                     <div class="panel-heading">
                        <span class="subtask-number" >{{$index+1}}</span> 
                        <input class="subtask-name" placeholder="Subtask Name" type="text" value="{{subtask.name}}" ng-model="subtask.name" ng-blur="updateProject()" />
                  		<input class="subtask-description" placeholder="Subtask Description" type="text" value="{{subtask.description}}" ng-model="subtask.description" ng-blur="updateProject()" />
                  		<input class="subtask-checkbox" type="checkbox" ng-model="subtask.finished" ng-change="updateProject()"/>
                     </div>
                </div>
				
				<!-- Add new Subtask -->
                <div class="panel panel-default pm-new-task" ng-click="createSubtask()" >
                	<div class="panel-heading">
                         <span class="glyphicon glyphicon-plus"></span> 
                    </div>
                 </div>    
               
               </div>
               <!-- /.panel-body -->
           </div>
       </div>
       <!-- /.col-lg-12 -->
	</div>
	
	 
	

