<nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img class="brand-logo" src="logo.png" alt="">Mint</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">
                    
                    
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

</nav>



            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <div class="user-info-wrapper">	
                                <div class="user-info-profile-image">
                                    <img src="profile-1.jpg" alt="" width="65" height="65">
                                </div>
                                <div class="user-info">
                                    <div class="user-welcome">Welcome</div>
                                    <div class="username">John <strong>Doe</strong></div>
                                    <div class="status">Status <span class="status-now"><i class="fa fa-circle text-emerald fa"></i> Online</span> </div>
                                </div>
                            </div>
                        </li>
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html" class="active"><i class="fa fa-dashboard fa-fw fa-3x"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/index.html#"><i class="fa fa-envelope fa-fw fa-3x"></i> Mail<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a id="compose" href="http://themes.grozav.com/mint/mail.html" class="text-center">
                                        <span class="btn btn-block btn-primary">Compose</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/mail.html">Inbox <span class="label label-primary pull-right">7</span></a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/mail.html">Drafts</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/mail.html">Sent</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/mail.html">Trash</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/mail.html">Junk Mail</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/index.html#"><i class="fa fa-bar-chart-o fa-fw fa-3x"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="http://themes.grozav.com/mint/flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/tables.html"><i class="fa fa-th fa-fw fa-3x"></i> Tables</a>
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/index.html#"><i class="fa fa-edit fa-fw fa-3x"></i> Forms<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="http://themes.grozav.com/mint/forms.html">Form Components</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/form-wizards.html">Form Wizards</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/file-uploader.html">File Uploader</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/wysiwyg.html">WYSIWYG Editor</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/fullcalendar.html"><i class="fa fa-table fa-fw fa-3x"></i> Calendar</a>
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/index.html#"><i class="fa fa-wrench fa-fw fa-3x"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="http://themes.grozav.com/mint/panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/fontawesome.html">Icons</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/index.html#"><i class="fa fa-sitemap fa-fw fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="http://themes.grozav.com/mint/index.html#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/index.html#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/index.html#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li>
                                            <a href="http://themes.grozav.com/mint/index.html#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="http://themes.grozav.com/mint/index.html#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="http://themes.grozav.com/mint/index.html#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="http://themes.grozav.com/mint/index.html#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="http://themes.grozav.com/mint/index.html#"><i class="fa fa-files-o fa-fw fa-3x"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="http://themes.grozav.com/mint/blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/login.html">Login Page</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/timeline.html">Timeline</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/404.html">404 Error Page</a>
                                </li>
                                <li>
                                    <a href="http://themes.grozav.com/mint/500.html">500 Error Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </nav>
            <!-- /.navbar-static-side -->