<div class="modal-header">
	<div class="snippet-name">
	    <label>Name:</label>
	    <input type="text" ng-model="codeSnippet.name" />
	</div>
	<div class="snippet-code-lang">
		<label>Language:</label>
   		<select ng-model="codeSnippet.extension" ng-change="modeChanged()">
   			<option value = "java" ng-attr-selected = "{{codeSnippet.extension == key}}">Java</option>
   			<option value = "javascript" ng-attr-selected = "{{codeSnippet.extension == 'javascript'}}">JavaScript</option>
   			<option value = "c_cpp" ng-attr-selected = "{{codeSnippet.extension == 'c_cpp'}}">C++</option>
   			<option value = "csharp" ng-attr-selected = "{{codeSnippet.extension == 'csharp'}}">C#</option>
   			<option value = "objectivec" ng-attr-selected = "{{codeSnippet.extension == 'objectivec'}}">Objective C</option>
   			<option value = "php" ng-attr-selected = "{{codeSnippet.extension == 'php'}}">PHP</option>
   			<option value = "html" ng-attr-selected = "{{codeSnippet.extension == 'html'}}">HTML</option>
   			<option value = "css" ng-attr-selected = "{{codeSnippet.extension == 'css'}}">CSS</option>
   			<option value = "sql" ng-attr-selected = "{{codeSnippet.extension == 'sql'}}">SQL</option>
		</select>
    </div>
</div>
<div class="modal-body snippet-body">
    <div ui-ace="aceOption" style="height:350px;" ng-model="codeSnippet.code"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="createSnippet()">Save</button>
    <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
</div>
<style>
</style>